<h1>
<%= @restaurant.name  %>
</h1>

<br>

<p>
  <%= "Address: #{@restaurant.address}. Contact: #{@restaurant.phone_number}" %>
</p>

<br>
<p>
  <strong> Category:</strong>
<%= @restaurant.category %>
</p>


<%= link_to 'Back', restaurants_path %>
